.walrus-showing {
  display: none;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable1 {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover, .clickable1:hover {
  text-decoration: underline;
}
.baby-walrus-showing{
  display: none;
}
